

.lesson{
    background-color: var(--light);
    padding: .5rem 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    cursor: pointer;
    display: block;
}
.lesson:hover{
    outline: 1px solid var(--primary);
}
.lesson.active{
    outline: 2px solid var(--primary);
}
.lesson .heart{
    color: var(--danger);
}
