.card-main {
    position: relative;
}
.card-main .des{
    text-indent: 1rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 1rem;
    opacity: 0;
}
.card-main:hover .des{
    animation: fadeInUp .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation: fadeInUp .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.card-main:hover .key {
    animation: fadeOutUp .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation: fadeOutUp .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.btn-setting{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.5rem;
}
.fade{
    opacity: .25 !important;
}
.nameCourse{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
