.search{
    width: 100%;
}
.search input ~ svg {
    opacity: 0;
    transition: all .2s linear;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}
.search input:focus ~ svg{
    opacity: 1;
}